.app {
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1c1c1c;
    height: 46px;
    line-height: 46px;
    padding-left: 20px;
}

.header__contact-list {
    display: flex;
    list-style: none;
}

.header__contact-item {
    cursor: pointer;
    margin-right: 20px;
}

.header__contact-item:hover .header__contact-text{
    color: var(--primary-color);
}

.header__contact-icon {
    vertical-align: middle;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.header__contact-text {
    font-size: 1.3rem;
    padding-left: 10px;
    color: #fff;
    text-decoration: none;
}

.header__wrap-right {
    display: flex;
    justify-content: space-between;
}

.header__socials-list {
    display: flex;
    list-style: none;
}

.header__socials-item:last-child .header__socials-link {
    margin-right: 35px;
}

.header__socials-link {
    font-size: 1.3rem;
    margin-right: 16px;
    color: #fff;
    text-decoration: none;
}

.header__socials-icon:hover {
    color: var(--primary-color);
    transition: linear 0.2s;
    background-color: transition var(--primary-color);
}

.header__langagues {
    position: relative;
}

.header__langagues-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 12px 0;
    font-size: 1.3rem;
    background-color: var(--primary-color);
    color: #fff;
    list-style: none;
    display: none;
    z-index: 1;
}

.header__langagues-item {
    background-color: var(--primary-color);
    color: #fff;
}

.header__langagues-selection {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    display: block;
    text-align: center;
}

.header__langagues-selection span:hover::before{
    width: 100%;
}

.header__langagues-selection span {
    position: relative;
}

.header__langagues-selection span::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 3px;
    width: 0;
    transition: width ease-out .3s;
    background-color: #fff;
}

.header__langagues-selected {
    display: block;
    width: 140px;
    text-align: center;
    font-weight: 500;
    background-color: #3abdc1;
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
}

.header__langagues:hover .header__langagues-list {
    display: block;
}

.header__langagues-icon {
    font-size: 1rem;
    font-weight: 500;
}

.header__user-avt {
    display: block;
    width: 46px;
    font-size: 1.6rem;
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.header-on-tablet-mobile {
    background-color: var(--primary-color);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 70px;
}

.header-on-tablet-mobile__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.header-on-tablet-mobile__menu-link {
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 20px;
    -webkit-tap-highlight-color: transparent;
}

.header-on-tablet-mobile__menu-icon {
    font-size: 2rem;
    color: #fff;
}

.header-on-tablet-mobile__link {
    display: block;
    -webkit-tap-highlight-color: transparent;
}

.header-on-tablet-mobile__logo {
    display: block;
    height: 36px;
}

.header-on-tablet-mobile__user {
    display: block;
    text-decoration: none;
    padding: 10px;
    -webkit-tap-highlight-color: transparent;
}

.header-on-tablet-mobile__user-wrap {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-on-tablet-mobile__user-icon {
    font-size: 1.5rem;
    color: #fff;
}
/* Nav on tablte & mobile */
.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
    animation: fadeIn ease-out .2s;
}

.nav__input {
    display: none;
}

.nav__input:checked ~ .nav__overlay {
    display: block;
}

.nav__input:checked ~ .header-on-tablet-mobile__nav {
    transform: translateX(0);
    opacity: 1;
}

.header-on-tablet-mobile__nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    max-width: 100%;
    background-color: #fff;
    z-index: 2;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform ease-out .2s, opacity ease-out .2s;
}

.nav__list {
    list-style: none;
    margin: 30px 0;
}

.nav__link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 2rem;
    padding: 12px;
}

.nav__close {
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;

}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1;
    }
}

/* Navbar */
.navbar__logo {
    height: 143px;
    width: 100%;
    align-items: center;
    position: relative;
}

.navbar__logo-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: block;
    height: 120px;
    padding-top: 40px;
}

.navbar__logo-img {
    height: 100%;
}

.navbar__main {
    width: 100%;
    height: 82px;
}

.navbar__list {
    display: flex;
    height: 100%;
    justify-content: center;
    list-style: none;
}

.navbar__item {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar__item.navbar__item-active a{
    color: var(--primary-color);
}

.navbar__link {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 600;
    padding: 12px 38px;
    transition: color ease-out .2s;
}

.navbar__link:hover {
    color: var(--primary-color);
}

.navbar__link span {
    position: relative;
}

.navbar__link:hover span::before {
    width: 100%;
}

.navbar__link span::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--primary-color);
    transition: width ease-out .4s;
}

/* Slider */
.slider {
    position: relative;
}

.slider__left {
    background-position: right;
}

.slider__left,
.slider__right {
    width: 100%;
    height: 668px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.slider__left-btn,
.slider__right-btn {
    background-color: #fff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition-property: color, background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    z-index: 1;
    transform: translateY(-50%);
}

.slider__left-btn {
    top: 50%;
    left: 10%;
}

.slider__left-text {
    width: 423px;
    height: 189px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    top: 45%;
    left: 55%;
    transform: translate(-50%);
}

.slider__right-btn {
    top: 50%;
    right: 12%;
}

.slider__left-btn:hover,
.slider__right-btn:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    
}

.slider__left-btn:hover .silder__left-icon,
.slider__right-btn:hover .silder__right-icon {
    color: #fff;
}

.silder__left-icon,
.silder__right-icon {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 500;
    transition-property: color, background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.intro {
    /* width: 100%; */
    padding-top: 114px;
}

.intro__img {
    height: 262px;
    max-width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.intro__title {
    font-size: 4rem;
    font-weight: 600;
    color: var(--text-color);
}

.intro__description {
    font-size: 1.7rem;
    margin-top: 16px;
    line-height: 26px;
    color: #505050;

}

.intro__bar-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
    margin: 29px 0 11px;
}

.intro__bar-holder {
    width: 100%;
    height: 22px;
    background-color: #f0ede8;
}

.intro__bar-current-percent-1,
.intro__bar-current-percent-2,
.intro__bar-current-percent-3 {
    height: 100%;
    background-color: var(--primary-color);
    position: relative;
}

.intro__bar-current-percent-1 {
    width: 76%;
}

.intro__bar-current-percent-2 {
    width: 92%;
}

.intro__bar-current-percent-3 {
    width: 86%;
}

.intro__bar-current-percent-1::before,
.intro__bar-current-percent-2::before,
.intro__bar-current-percent-3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 100%;
    background-color: #3abdc1;
}

.intro__bar-current-percent-1::after,
.intro__bar-current-percent-2::after,
.intro__bar-current-percent-3::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    height: 100%;
    background-color: #3abdc1;
}

.intro__background {
    margin-top: 60px;
    max-width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.tours {
    padding-top: 108px;
}

.tours__title {
    font-size: 6.5rem;
    font-weight: 600;
    text-align: center;
}

.tours__description {
    margin: 12px auto 62px;
    max-width: 635px;
    text-align: center;
    font-size: 1.7rem;
    line-height: 28px;
    font-weight: 400;
    color: #505050;
}

.mrgnbt {
    margin-bottom: 30px;
}

.mrgnbt-footer {
    margin-bottom: 70px;
}

.tours__wrap {
    display: block;
    transition: transform ease-out 0.3s;
    position: relative;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
}

.tours__item-shadow {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255,255,255,0) 50%, rgba(0,0,0,0.804359243697479) 100%);
    opacity: 0.6;
    transition: opacity ease-out 0.4s;
    -webkit-transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -ms-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
}

.tours__wrap:hover .tours__item-shadow{
    opacity: 0.8;
}

.tours__item {
    display: block;
    height: 100%;
    width: 100%;
}

.tours__item-img {
    width: 100%;
    height: 100%;
    transition: transform ease-out 0.4s;
    will-change: transform;
}

.tours__wrap:hover .tours__item-img {
    transform: scale(103%);
}

.tours__info {
    position: absolute;
    bottom: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    z-index: 1;
    padding: 0 24px;
    user-select: none;
}

.data {
    padding: 130px 0 120px;
}

.data__wrap {
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 50px;
}

.data__number {
    margin: 0;
    font-size: 6.5rem;
    font-weight: 600;
}

.data__title {
    margin-top: 12px;
    font-size: 2rem;
    font-weight: 600;
}

.data__description {
    margin-top: 12px;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.video__wrap {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.video__wrap:hover .video__play-btn{
    transform-origin: center;
    transform: scale(1.05);
}

.video__wrap-img {
    width: 100%;
}

.video__play-btn {
    /* Căn giữa */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    /* text-align: center; */
    width: 69px;
    height: 69px;
    border-radius: 50%;
    border: none;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform ease-out .3s;
    will-change: transform;
}

.video__play-btn-icon {
    color: #fff;
    font-size: 2.2rem;
}

.popular {
    padding: 140px 0;
}

.popular__content {
    color: #505050;
}

.popular__title {
    font-size: 4rem;
    color: var(--text-color);
    font-weight: 600;
}

.popular__description {
    font-size: 1.7rem;
    line-height: 2.8rem;
    margin-top: 15px;
}

.popular-wrap-item {
    margin-top: 64px;
}

.popular__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.popular__item-text {
    padding: 0 20px;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.popular__img-wrap {
    display: flex;
    justify-content: flex-end;
}

.popular__img {
    width: 100%;
}

/* Footer */
.footer {
    background-color: #212121;
    /* overflow: hidden; */
}

.footer__top {
    padding: 110px 0;
}

.footer__logo-link {
    display: block;
}

.footer__logo {
    max-width: 90%;
    margin-bottom: 20px;
}

.footer__slogan {
    color: #a9a9a9;
    font-size: 1.7rem;
    line-height: 2.6rem;
    font-weight: 400;
    margin-bottom: 17px;
}

.footer__list-contact {
    list-style: none; 
}

.footer__list-contact-wrap {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff;
    font-weight: 400;
    line-height: 2.5rem;
    margin-bottom: 4px;
    transition: color ease-out .2s;
}

.footer__list-contact-wrap:hover {
    color: var(--primary-color);
}

.footer__list-contact-text {
    padding-left: 10px;
}

.footer__heading {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0 0 26px;
}

.footer__list {
    list-style: none;
}

.footer__item {
    margin-bottom: 30px;
}

.footer__title {
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
    color: #a9a9a9;
    transition: color ease-out .2s;
}

.footer__time {
    text-decoration: none;
    margin-top: 14px;
    display: block;
    font-size: 1.4rem;
    color: #fff;
    transition: color ease-out .2s;
}

.footer__title:hover,
.footer__time:hover {
    color: var(--primary-color);
}

.footer__description {
    display: block;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #a9a9a9;
    margin: 10px 0 25px;
}

.footer__list-input {
    list-style: none;
}

.footer-btn {
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    transition-property: background-color, color;
    transition-duration: .2s;
    transition-timing-function: linear;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.footer-btn:hover {
    color: #000;
    background-color: #fff;
}

.footer__bottom-text {
    text-align: center;
    color: #a9a9a9;
    font-size: 1.3rem;
    margin: 0 0 10px;
    padding: 0 0 12px;
    line-height: 2.4rem;
}

.footer__bottom-link {
    text-decoration: none;
    color: #fff;
    transition: color linear .2s;
}

.footer__bottom-link:hover {
    color: var(--primary-color);
}

/* Back to top button */
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 60px;
    height: 60px;
    text-decoration: none;
    border-radius: 50%;
    background-color: #fff;
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 6rem;
    text-align: center;
    opacity: 0;
    box-shadow: 4px 6px 15px 0 rgb(0 0 0 / 8%);
    visibility: hidden;
    transition: all linear .1s;
    z-index: 1;
}

.back-to-top-icon {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 6rem;
}

.back-to-top.on {
    visibility: visible;
    opacity: 1;
}

.back-to-top:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* Modal */

.auth-form {
    width: 308px;
    display: none;
}

.auth-form-open {
    display: block;
}

.auth-form__header {
    display: flex;
}

.auth-form__heading {
    display: block;
    height: 52px;
    line-height: 5.2rem;
    width: 50%;
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: #3ABDC1;
    text-decoration: none;
    user-select: none;
}

.auth-form__heading-active {
    background-color: var(--primary-color);
    cursor: default;
}

.auth-form__switch-modal {
    cursor: pointer;
}

.auth-form__form {
    background-color: var(--primary-color);
    padding: 30px 30px 20px;
}

.auth-form__title {
    user-select: none;
    font-size: 2rem;
    color: #fff;
    padding: 8px 0;
}

.auth-form__description {
    user-select: none;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #fff;
    font-weight: 400;
    margin-bottom: 24px;
}

.auth-form__input {
    padding: 13px 16px 13px;
    color: #fff;
    background-color: rgba(255, 255 ,255 , .25);
    margin-bottom: 6px;
    height: 52px;
    min-width: 248px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

.auth-form__username::placeholder,
.auth-form__password::placeholder {
    color: #fff;
}

.auth-form__username,
.auth-form__password {
    padding-left: 16px;
    font-size: 1.4rem;
    color: #fff;
    border: none;
    outline: none;
    background-color: transparent;
}

.auth-form__login-remember {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #fff;
    margin: 20px 0 17px;
}

.auth-form__remember-text {
    padding-left: 18px;
    cursor: pointer;
    user-select: none;
}

.auth-form__login-action {
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff;
    margin: 3px 0 20px;
    color: #26878a;
}

.auth-form__login-action:hover {
    color: var(--text-color);
    transition: color ease-out .2s;
}

.auth-form__register-btn,
.auth-form__login-btn {
    width: 100%;
}

.auth-form__register-btn {
    margin-top: 20px;
}

.auth-form__login-with-socials {
    font-size: 1.4rem;
    color: #fff;
    margin: 20px 0 0;
    font-weight: 400;
    user-select: none;
}

.auth-form__footer {
    display: flex;
}

.auth-form__facebook-btn {
    background-color: rgb(59, 89, 152);
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 1px;
    transition: unset;
}

.auth-form__google-btn {
    background-color: rgb(221, 75, 57);
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 1px;
    transition: unset;
}

.auth-form__facebook-btn:hover {
    background-color: #4363A5;
}

.auth-form__google-btn:hover {
    background-color: #DD5543;
}
